/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-family: 'Kalam', cursive;
  height: 100vh;


}

*::selection {
  background: #F28DBC;
  color: white;
}

/*GENERAL*/

/*NAV*/

#LogoNav {
  display: flex;
  width: 25vh;
  height: 25vh;
  margin-top: 1%;
  margin-left: 2%;

}

#li2 {
  padding-top: 3%;
  margin-left: 5%;
}

nav {
  background-image: url(../IMG/nav.jpg);
  background-repeat: no-repeat;
  background-size: auto, ;


}

nav .menuItems {
  list-style: none;
  display: flex;
  flex-direction: none;
}

nav .menuItems li {
  margin: 3%;
  list-style-type: none;
}

nav .menuItems li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

nav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #E890E6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

nav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

#LogOut {
  color: #cb6de8;
}

#LogOut:hover {
  color: #f585b9;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

/*NAV*/

/*BODY*/

/*__GALLERY__*/
main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
  background-image: url();
}

div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}

div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}

div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}

div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
  --position: 5;
}

/*__GALLERY__*/

/*__CONTAINER__*/
.container {
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

/*__CONTAINER__*/

/*__TEXT1__*/
h1{
  color:#F28DBC;
  font-size: 4rem;
  text-align: center;
  padding: 4%;
}

h2{
  text-align: center;
}
/*__TEXT1__*/

/*BODY*/

/*FOOTER*/

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  border-top-left-radius: 2em 1em;
  border-top-right-radius: 2em 1em;
  background-color: #F5ACC0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
  color: white;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* Footer links */

/*FOOTER*/